* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ink Free';
}

h1 {
    font-style: italic;
    font-size: 3em;
}

nav {
    /*text-align: right; */
    position: absolute;
    right: 25px;
    top: 52px;
}

nav a {
    border: 1px solid black;
    margin: 3px;
    padding: 7px 12px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
}

#green {
    background-color: green;
}

header img {
    width: 100vw;
    height: 45vh;
}

h2 {
    border: 1px solid black;
    background-color:lightslategray;
    color: white;
    text-align: center;
}

section {
    display: inline-block;
    /* border: 1px dashed gray; */
    vertical-align: top;
    margin-left: 25px;
}

section img {
    width: 12vw;
}

section article {
    width: 80vw;
}

section a {
    text-decoration: none;
    font-weight: bold;
}

