* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ink Free';
}

h1 {
    font-style: italic;
    font-size: 3em;
}

nav {
    /*text-align: right; */
    position: absolute;
    right: 25px;
    top: 52px;
}

nav a {
    border: 1px solid black;
    margin: 3px;
    padding: 7px 12px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
}

#green {
    background-color: green;
}

header img {
    width: 100%;
    height: 45vh;
}

h2 {
    border: 1px solid black;
    background-color:lightslategray;
    color: white;
    text-align: center;
}

section {
    display: inline-block;
    /* border: 1px dashed gray; */
    vertical-align: top;
    margin-left: 6px;
    margin-right: 3px;
}

section img,iframe {
    width: 25vw;
    height: 34vh;
    display: flex;
    align-items: center;
}

#logo {
    width: 9vw;
    height: auto;
    position: relative;
    left: 9vw;
}

section article {
    width: 70vw;
}


section a {
    text-decoration: none;
    font-weight: bold;
}

a[href="mailto:mdhl@chihockey.or"], a[href="mailto:michael.randall@chihockey.org"] {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
}

.september {
    /* background-color: lightgreen; */
    width: 16%;
}

.times {
    width: 12%;
}

table>caption {
    text-align:left;
}

th,td {
    /*border: 1px dashed grey; */  
    text-align: center;
}

.p_inline {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    list-style-position: inside;
}

li>ol {
    list-style-type: lower-latin;
    margin-left: 1em;
}

ul {
    list-style-type: circle;
    margin-left: 1em;
}

form td {
    width: 35%;
    text-align: left;
}

input[type="text"]{width: 52%}
